/* ============= Acerca del archivo ============= */
/*
>   Autores: integrantes del grupo 5 del curso Codo a Codo
>   Versión: 2
>   Fecha: 25-05-2024
>   El siguiente código almacena los estilos que tendrá la página
    index.html
*/

/* ================ Imagen de fondo ================ */

html{
    background-image: url(../assets/images/fondovertorial.jpg);
}

/* ============ Fin de Imagen de fondo ============ */

/* ================ Cajas principales ================ */

.historia_marvel {
    background-color: rgba(255, 0, 0, 0.55);
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 30px;
    color: white;
    border-radius: 30px;
}

.historia_marvel p {
    line-height: 1.6;
    color: rgb(208, 208, 208);
    font-size: 1em;
}

/* ============ Fin de cajas principales ============ */

/* =============== Flex para imágenes =============== */

.galeria_heroes {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 3vh;
    border-radius: 30px;
    gap: 30px;
    justify-content: center;
}

.info_heroe {
    border-radius: 5px;
    background-color: rgb(47, 47, 47);
    max-width: 240px;
    padding: 10px;
    box-shadow: 0 0 8px #320401;
}

.info_heroe img {
    max-width: 200px;
}

.info_heroe p {
    text-align: center;
    color: rgb(208, 208, 208);
}

/* ============= Fin de flex para imágenes ============= */

/* ================== Estilos para h2 ================== */

.historia_marvel h2 {
    text-align: center;
    color: rgb(240, 240, 240);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 3vh;
}

/* =============== Fin de estilos para h2 =============== */

/* ================ Responsive ================ */

/* Pantallas pequeñas */
@media (max-width: 599px) {
    .historia_marvel {
        max-width: 90%;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
        padding: 20px;
        font-size: 14px;
    }

    .historia_marvel h2 {
        font-size: 3.7vh;
    }

    .historia_marvel p {
        font-size: 14px;
    }
    
    .info_heroe {
        max-width: 85%;
        padding: 10px;
    }
    
    .info_heroe img {
        max-width: 100%;
    }

    .info_heroe p {
        font-size: 20px;
    }
}

/* Pantallas medianas */
@media (min-width: 600px) and (max-width: 899px) {
    .historia_marvel {
        max-width: 85%;
        margin-top: 2.7vh;
        margin-bottom: 2.7vh;
        padding: 25px;
        font-size: 16px;
    }

    .historia_marvel h2 {
        font-size: 4.8vh;
    }

    .historia_marvel p {
        font-size: 16px;
    }
    
    .info_heroe {
        max-width: 40%;
        padding: 10px;
    }
    
    .info_heroe img {
        max-width: 100%;
    }
    
    .info_heroe p {
        font-size: 20px;
    }
}

/* Pantallas grandes */
@media (min-width: 900px) {
    .historia_marvel {
        max-width: 900px;
        margin-top: 3vh;
        margin-bottom: 3vh;
        padding: 30px;
        font-size: 18px;
    }

    .historia_marvel h2 {
        font-size: 5.5vh;
    }

    .historia_marvel p {
        font-size: 18px;
    }

    .info_heroe {
        max-width: 30%;
        padding: 10px;
    }
    
    .info_heroe img {
        max-width: 100%;
    }

    .info_heroe p {
        font-size: 18px;
    }
}

/* ============ Fin de responsive ============ */