/* ============= Acerca del archivo ============= */
/*
>   Autores: integrantes del grupo 5 del curso Codo a Codo
>   Versión: 2
>   Fecha: 22-05-2024
>   El siguiente código almacena los estilos generales que tendrán las
    páginas del documento; concretamente, contiene la configuración
    general de las mismas, el header con sus botones de navegación,
    y el footer
*/

/* =========== Configuración general =========== */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

html, body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ======== Fin de configuración general ======== */

/* ================ Header ================ */

.header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(122, 37, 38, 0.5);
    height: 10vh;
}

.header nav {
    margin-right: 1vw;
}

.logo_titulo {
    display: flex;
    align-items: center;
}

.logo_titulo img {
    margin-left: 1vw;
    margin-right: 1vw;
    height: 50px;
}

.logo_titulo h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vh;
    text-align: left;
    color: rgb(212, 135, 48);
}

/* ============= Fin de header ============= */

/* ============ Botones de navegación ============ */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

nav ul li {
    flex: 1;
    margin: 5px 5px;
    position: relative;
}

nav ul li a {
    display: block;
    font-size: 3vh;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(180, 27, 27);
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgb(189, 77, 12);
}

/* Submenú con más opciones */
.submenu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(180, 27, 27);
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.submenu li {
    margin: 0;
    border-bottom: 2px solid rgb(101, 31, 31);
}

.submenu li:last-child {
    border-bottom: none;
}

.submenu li a {
    font-size: 2.5vh;
    padding: 10px 20px;
}

.submenu li a:hover {
    background-color: rgb(189, 77, 12);
}

nav ul li:hover .submenu {
    display: block;
    max-height: 500px;
    transition: max-height 0.5s ease-in-out;
}

/* ========= Fin de botones de navegación ========= */

/* ================ Footer ================ */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(172, 32, 32, 0.5);
    height: 10vh;
    text-align: center;
}

.footer p {
    color: rgb(230, 230, 230);
    font-size: 16px;
}

/* ============= Fin de footer ============= */

/* ================ Responsive ================ */

/* Pantallas pequeñas */
@media (max-width: 599px) {
    .header{
        height: 12vh;
    }

    .logo_titulo img {
        margin-left: 1vw;
        margin-right: 1vw;
        max-height: 50px;
    }

    .main {
        padding: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    
    nav ul li {
        flex: 1;
        margin: 3px 3px;
        position: relative;
    }
    
    nav ul li a {
        display: block;
        padding: 5px 10px;
        text-align: center;
        font-size: 2.5vh;
    }

    .submenu {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        transition: max-height 0.5s ease-in-out;
    }

    .submenu li {
        flex: 1;
        margin: 3px 3px;
        position: relative;
    }

    .submenu li a {
        display: block;
        padding: 3px 6px;
        text-align: center;
        font-size: 2.2vh;
    }

    .footer {
        height: 8vh;
    }

    .footer p {
        font-size: 12px;
    }
}

/* Pantallas medianas */
@media (min-width: 600px) and (max-width: 899px) {
    .header {
        padding: 5px;
        height: 10vh;
    }

    .main{
        padding: 25px;
    }
    .footer p {
        font-size: 14px;
    }
}

/* Pantallas grandes */
@media (min-width: 900px) {
    .header {
        padding: 5px;
        height: 10vh;
    }
    
    .main{
        padding: 30px;
    }

    .footer p{
        font-size: 100%;
    }
}

/* ============ Fin de responsive ============ */

/* ============ Sobre nosotros ============= */

.main-info h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
}

.main-info p {
    color: rgb(208, 208, 208);
    text-align: justify;
}