* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../images/fondovertorial.jpg);
}


.principio_entrada {
    font-family:'Courier New', Courier, monospace;
    font-size: 5vh;
    text-align: center;
    color: rgb(212, 135, 48);
    margin-left: 2vw;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(172, 32, 32, 0.459);
    height: 10vh;
    text-align: center;
    /* Centrar el texto dentro del footer */
}

.footer p {
    color: rgb(230, 230, 230);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(122, 37, 38, 0.432);
    height: 10vh;
}


.lleva_inicio {
    order: -1;
    /* original: 1 */
}

.boton_navegacion {
    order: 1;
    /* original: 1 */
}

.nav {
    border: 5px solid white;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 2vh;
}

nav ul li:last-child {
    margin-right: 2vh;
}

nav ul li a {
    font-size: 3vh;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(180, 27, 27);
    cursor: pointer;
    border-radius: 8%;
}

nav ul li a:hover {
    background-color: rgba(247, 111, 32, 0.4);
}

.historia_marvel {
    background-color: rgba(255, 0, 0, 0.55);
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 40px;
    color: white;
    font-size: 3vh;
    border-radius: 10%;
    overflow: hidden;

}

.historia_marvel h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 3vh;

}

.historia_marvel p {
    line-height: 1.6;
    color: rgb(208, 208, 208);
}

/* ----------------------------Estilo Productos---------------------------------------- */
.fondo_producto {
    width: 100%;
    height: 100%;
    background-image: url(../images/logo_A.png), url(../images/fondovertorial.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-blend-mode: screen;
}


h2 {
    margin-top: 6vh;
    margin-bottom: 4vh;
    color: rgb(240, 171, 69);
    text-align: center;
    font-size: 5vh;
    text-decoration: underline;
    text-shadow: 3px 3px rgb(150, 65, 65);
    border: 1px black;
}

.container_producto {
    max-width: 100%;
    margin: 30px;
    margin-left: 80px;
    margin-bottom: 60px;
    display: inline-block;
    background-color: rgba(180, 94, 8, 0.521);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: bold;
    font-weight: 700;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px #ffa600,
        0 0 20px #ffa600,
        0 0 30px #ffa600,
        0 0 40px #ffa600;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    text-align: center;
    border: 5px solid rgba(16, 95, 197, 0.466);
}

.container_producto:hover {
    scale: 1.2;
}

.container_producto img {
    margin: 20px;
    height: 150px;
    width: auto;
    border-radius: 15px 15px 0 0;

}

.container_producto p {
    margin: 0;
    padding: 10px;
    text-align: left;
    background-color: rgba(187, 178, 178, 0.534);
    border-radius: 30px;
}

/* --------------------------------------fin de estilo de producto------------------------------------------------ */

/* ------------------------------Estilo Pelicula-------------------------------- */

.logo_marvel1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    text-align: center;
}

.logo_marvel2 img {
    max-width: 100%;
    height: auto;
    
}

.h2_peliculas {
    margin: 0;
    padding: 0;
    color: rgba(245, 90, 18, 0.815);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    text-shadow: none;
    border-radius: 20px;
    background-color: rgba(170, 69, 69, 0.479);

}

.descri_container {
    color: rgba(255, 255, 255, 0.712);
    display: flex;
    align-items: flex-start;
    overflow: hidden;


}

.descri_container p {
    color: #221203;
    font-size: 4vh;
    margin-left: 10px;
    font-weight: bold;

}

.peli_titulo {
    background-color: #a83737dc;
    color: rgb(207, 210, 219);
    margin: 20px;
    justify-content: center;
    font-size: 4vh;
    font-weight: bold;
    border: 1px solid #eceae6;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #ad062a3a;
    overflow: hidden;
}

.peli-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}


.peli-cont {
    width: 200px;
    margin: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgb(199, 19, 13);
    box-shadow: 10px 10px 10px #8f0202be;
    animation: move 4s linear infinite;
}

@keyframes move {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: 30%;
        transform: translateX(5%);
    }

    50% {
        bottom: 50%;
        left: 30%;
        transform: translate(5%, 5%);
    }

    75% {
        bottom: 50%;
        left: 0;
        transform: translateY(5%);
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

.peli-cont:hover {
    scale: 1.2;
    animation: normal;
}

.peli-cont img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.peli-cont h3 {
    margin-top: 10px;
}

#trailer-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 0 30px #e91313;
}

#trailer-container iframe {
    width: 100%;
    height: 100%;
}


#close-trailer {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* ------------------------------Estilo Formulario-------------------------------- */

form{
    background-color: rgba(255, 0, 0, 0.55);
    text-align: justify;
    max-width: 800px; 
    margin: 0 auto; 
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 40px; 
    color: white;
    font-size: 3vh;
    border-radius: 10%;
    overflow: hidden;
}

.consulta{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checks{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.consulta input[type="radio"] {
    margin-right: 10px;
 }
input[type="submit"] {
    margin-top: 20px;
}

/* ------------------------------Fin de Estilo Formulario-------------------------------- */

