* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    background-image: url(../images/fondovertorial.jpg);
    background-blend-mode: multiply;
}


.principio_entrada {
    font-size: 8vh;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left:2vw;
}

.footer {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: rgb(140, 140, 140);
    height: 20vh;
    text-align: center; /* Centrar el texto dentro del footer */
}

.footer p{
    color: rgb(230, 230, 230);
}


header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: rgb(122, 37, 39);
    height: 20vh;
}

footer{
    height: 15vh;
}

.lleva_inicio {
    order: -1;  /* original: 1 */
}

.boton_navegacion {
    order: 1;  /* original: 1 */
}

.nav {
    border: 5px solid white;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 2vh; 
}

nav ul li:last-child {
    margin-right: 2vh; 
}

nav ul li a {
    font-size: 3vh;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(180, 27, 27);
    cursor: pointer;
    border-radius: 8%;
}

nav ul li a:hover {
    background-color: rgba(247, 111, 32, 0.4);
}
.historia_marvel {
    background-color: rgba(255, 0, 0, 0.55);
    text-align: justify;
    max-width: 800px; 
    margin: 0 auto; 
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 40px; 
    color: white;
    font-size: 3vh;
    border-radius: 10%;
    overflow: hidden;

}

.historia_marvel h1 {
    text-align: center; 
    color: rgb(255, 255, 255); 
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 3vh;
    
}

.historia_marvel p {
    line-height: 1.6; 
    color: rgb(208, 208, 208);
}